<div>
    <label for="pizza-name">Name:</label>
    <input ng-model="pizza.name" class="form-control" id="pizza-name">
</div>

<div class="form-group">
    <h4>Select your size</h4>
    <div ng-repeat="size in sizes">
        <label>
            {{size.name}}
            <input ng-click="calculatePrice()" ng-model="$parent.$parent.selectedSize"
                  ng-value="size" type="radio">
        </label>
        <br>
    </div>
</div>

<div>
    <button type="button" class="btn btn-default btn-sm" ng-click="savePizza()">Save Pizza</button>
</div>
<br>