<div>
    <label for="pizza-name">Name:</label>
    <input ng-model="pizza.name" class="form-control" id="pizza-name">
</div>

<div class="form-group">
    <label for="size">Select size:</label>
    <select ng-model="pizza.sizeName" class="form-control" id="size">
        <option>xxl</option>
        <option>xl</option>
        <option>l</option>
        <option>s</option>
    </select>
</div>

<h3>Address</h3>
<div class="form-group">
    <label for="street">Street:</label>
    <input ng-model="order.address.street" type="text" class="form-control" id="street">

    <label for="zipcode">Zipcode:</label>
    <input ng-model="order.address.zipcode" type="text" class="form-control" id="zipcode">

    <label for="housenumber">Housenumber:</label>
    <input ng-model="order.address.housenumber" type="text" class="form-control" id="housenumber">

    <label for="city">City:</label>
    <input ng-model="order.address.city" type="text" class="form-control" id="city">
</div>


<div>
    <button type="button" class="btn btn-default btn-sm" ng-click="savePizza()">{{submitButtonName}}</button>
</div>
<br>