<div>
    <label for="pizza-name">Name:</label>
    <input ng-model="pizza.name" class="form-control" id="pizza-name">
</div>

<div class="form-group">
    <label for="size">Select size:</label>
    <select ng-model="pizza.sizeName" class="form-control" id="size">
        <option>xxl</option>
        <option>xl</option>
        <option>l</option>
        <option>s</option>
    </select>
</div>

<div>
    <button type="button" class="btn btn-default btn-sm" ng-click="savePizza()">{{submitButtonName}}</button>
</div>
<br>