<div class="row">
    <div class="col-md-3">
        <h3>Suggested Pizzas</h3>
        <div ng-repeat="suggestion in suggestions">
            <a href ng-click="loadSuggestion(suggestion)">
                {{suggestion.name}}
            </a>
        </div>
        <h3>Your Pizzas</h3>
        <div ng-repeat="pizza in pizzas">
            <a href ng-click="loadPizza(pizza)">
                {{pizza.name}}
            </a>
            <a href ng-click="deletePizza(pizza.id)">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <a href ng-click="newPizza()">New pizza</a>
    </div>

    <div class="col-md-6">
        <div id="pizza">
            <img src="assets/pizza-base.png"/>
            <img ng-repeat="ingredient in selectedIngredients" ng-src="{{ingredient.imagePath}}"/>
        </div>
    </div>
    <div class="col-md-3">
        <h3>Pizza creation</h3>
        <div ui-view="steps"></div>
        <div>
            <button type="button" class="btn btn-default btn-sm" ng-hide="currentState === 0"
                    ng-click="nextState(false)">Back
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-hide="currentState === states.length"
                    ng-click="nextState(true)">Next
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-default btn-sm" ng-click="savePizza()">{{submitButtonName}}</button>
        </div>


        <!--<div>Price: {{price}} €</div>-->

        <!--<button type="button" class="btn btn-default btn-sm" ng-click="savePizza()">{{submitButtonName}}</button>-->
    </div>


</div>