<form ng-submit="placeOrder()" name="orderForm">
    <h3>Place your Order</h3>

    <h4>Choose your Address</h4>

    <div ng-show="currentUser" ng-repeat="address in addresses" class="form-group">
        <input ng-model="$parent.selectedAddress" ng-value="address.id" type="radio">
        <div>First Name: {{address.firstname}}</div>
        <div>Last Name: {{address.lastname}}</div>
        <div>Street: {{address.street}}</div>
        <div>Zipcode: {{address.zipcode}}</div>
        <div>Housenumber: {{address.housenumber}}</div>
        <div>City: {{address.city}}</div>
        <hr>
    </div>

    <!--Hide if no address provided and user is logged in-->
    <div ng-hide="selectedAddress && currentUser" class="form-group">
        <label for="firstname">First Name:</label>
        <input ng-required='!selectedAddress' ng-model="address.firstname" type="text" class="form-control" id="firstname">

        <label for="lastname">Last Name:</label>
        <input ng-required='!selectedAddress' ng-model="address.lastname" type="text" class="form-control" id="lastname">

        <label for="street">Street:</label>
        <input ng-required='!selectedAddress' ng-model="address.street" type="text" class="form-control" id="street">

        <label for="zipcode">Zipcode:</label>
        <input ng-required='!selectedAddress' ng-model="address.zipcode" type="text" class="form-control" id="zipcode">

        <label for="housenumber">Housenumber:</label>
        <input ng-required='!selectedAddress' ng-model="address.housenumber" type="text" class="form-control" id="housenumber">

        <label for="city">City:</label>
        <input ng-required='!selectedAddress' ng-model="address.city" type="text" class="form-control" id="city">
    </div>

    <h4>Select your Pizzas</h4>

    <div ng-repeat="pizza in selectablePizzas">
        <label>
            <input ng-click="calculateTotal()" type="checkbox"
                   ng-required='selectedPizzas.length === 0'
                   checklist-model="selectedPizzas"
                   checklist-value="pizza">
            {{pizza.name}}
        </label>
        <br>
    </div>

    <h4>Total: {{(total | number:2) + " €"}}</h4>

    <button  type="submit" class="btn btn-default btn-sm">Send Order</button>
</form>