<h3>Place your Order</h3>

<h4>Choose your Address</h4>

<div ng-show="currentUser" ng-repeat="address in addresses" class="form-group">
    <input ng-model="$parent.selectedAddress" ng-value="address.id" type="radio">
    <div>Street: {{address.id}}</div>
    <div>Street: {{address.street}}</div>
    <div>Zipcode: {{address.zipcode}}</div>
    <div>Housenumber: {{address.housenumber}}</div>
    <div>City: {{address.city}}</div>
    <hr>
</div>

<!--Hide if no address provided-->
<div ng-hide="selectedAddress" class="form-group">
    <label for="street">Street:</label>
    <input ng-model="address.street" type="text" class="form-control" id="street">

    <label for="zipcode">Zipcode:</label>
    <input ng-model="address.zipcode" type="text" class="form-control" id="zipcode">

    <label for="housenumber">Housenumber:</label>
    <input ng-model="address.housenumber" type="text" class="form-control" id="housenumber">

    <label for="city">City:</label>
    <input ng-model="address.city" type="text" class="form-control" id="city">
</div>

<h4>Select your Pizzas</h4>
<div ng-repeat="pizza in selectablePizzas">
    <label>
        <input ng-click="calculateTotal()" type="checkbox" checklist-model="selectedPizzas"
               checklist-value="pizza">
        {{pizza.name}}
    </label>
    <br>
</div>

<h4>Total</h4>
{{total}}€

<button type="button" class="btn btn-default btn-sm" ng-click="placeOrder()">Send Order</button>
