<div ng-repeat="bill in bills" class="form-group">
    <h4>Bill Nr {{bill.nr}}</h4>
    <ul>
        <li>Total: {{(bill.total | number:2) + " €"}}</li>
    </ul>

    <h4>Pizzas</h4>
    <ul>
        <li ng-repeat="pizza in bill.pizzas">
            {{pizza}}
        </li>
    </ul>

    <h4>Delivery address</h4>
    <ul>
        <li>First Name: {{bill.address.firstname}}</li>
        <li>Last Name: {{bill.address.lastname}}</li>
        <li>Street: {{bill.address.street}}</li>
        <li>Zipcode: {{bill.address.zipcode}}</li>
        <li>Housenumber: {{bill.address.housenumber}}</li>
        <li>City: {{bill.address.city}}</li>
    </ul>
    <hr>
</div>