<h3>User-Profile</h3>
<div>First name: {{user.firstName}}</div>
<div>Last name: {{user.lastName}}</div>
<div>Email: {{user.email}}</div>
<div>Password: {{user.password}}</div>

<h3>Addresses</h3>
<div ng-repeat="address in addresses" class="form-group">
    <div>Street: {{address.street}}</div>
    <div>Zipcode: {{address.zipcode}}</div>
    <div>Housenumber: {{address.housenumber}}</div>
    <div>City: {{address.city}}</div>
    <hr>
</div>

<h3>Add new address</h3>
<div class="form-group">
    <label for="street">Street:</label>
    <input ng-model="address.street" type="text" class="form-control" id="street">

    <label for="zipcode">Zipcode:</label>
    <input ng-model="address.zipcode" type="text" class="form-control" id="zipcode">

    <label for="housenumber">Housenumber:</label>
    <input ng-model="address.housenumber" type="text" class="form-control" id="housenumber">

    <label for="city">City:</label>
    <input ng-model="address.city" type="text" class="form-control" id="city">

    <button type="button" class="btn btn-default btn-sm" ng-click="createAddress(address)">Save</button>
</div>
